<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qipachong.maxnull.mapper.ProgramMapper">
    <resultMap id="BaseResultMap" type="com.qipachong.maxnull.model.Program">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="ctype" property="ctype" jdbcType="VARCHAR"/>
        <result column="pub_date" property="pubDate" jdbcType="VARCHAR"/>
        <result column="countrys" property="countrys" jdbcType="VARCHAR"/>
        <result column="actors" property="actors" jdbcType="VARCHAR"/>
        <result column="total_sets" property="totalSets" jdbcType="INTEGER"/>
        <result column="main_id" property="mainId" jdbcType="VARCHAR"/>
        <result column="get_time" property="getTime" jdbcType="DATE"/>
        <result column="website_id" property="websiteID" jdbcType="INTEGER"/>
        <result column="website" property="website" jdbcType="VARCHAR"/>
        <result column="ptype" property="ptype" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pname" property="pname" jdbcType="VARCHAR"/>
        <result column="intro" property="intro" jdbcType="VARCHAR"/>
        <result column="director" property="director" jdbcType="VARCHAR"/>
        <result column="pc_url" property="pcUrl" jdbcType="VARCHAR"/>
        <result column="play_length" property="playLength" jdbcType="INTEGER"/>
        <result column="is_charge" property="isCharge" jdbcType="INTEGER"/>
        <result column="is_preview" property="isPreview" jdbcType="INTEGER"/>
        <result column="is_matched" property="isMatched" jdbcType="INTEGER"/>
        <result column="extra_info" property="extraInfo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, ctype, pub_date, countrys, actors, total_sets, main_id, get_time,website_id, website,
    ptype, name, pname, intro, director, pc_url,play_length,is_charge,is_preview,is_matched,extra_info
  </sql>


    <insert id="insert" parameterType="com.qipachong.maxnull.model.Program">
    insert into tb_program (ctype, pub_date, countrys,
     actors, total_sets,
    main_id, get_time, website,
    ptype, name, pname,
    intro, director, pc_url,website_id,play_length,is_charge,is_preview
    )
    values (#{ctype,jdbcType=VARCHAR}, #{pubDate,jdbcType=VARCHAR}, #{countrys,jdbcType=VARCHAR},
     #{actors,jdbcType=VARCHAR}, #{totalSets,jdbcType=INTEGER},
    #{mainId,jdbcType=VARCHAR}, #{getTime,jdbcType=DATE}, #{website,jdbcType=VARCHAR},
    #{ptype,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR},
    #{intro,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, #{pcUrl,jdbcType=VARCHAR},
    #{websiteId,jdbcType=INTEGER}, #{playLength,jdbcType=INTEGER}, #{isCharge,jdbcType=INTEGER}, #{isPreview,jdbcType=INTEGER}
    )
  </insert>

    <insert id="insertSelective" parameterType="com.qipachong.maxnull.model.Program">

        insert into tb_program
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ctype != null">
                ctype,
            </if>
            <if test="pubDate != null">
                pub_date,
            </if>
            <if test="countrys != null">
                countrys,
            </if>

            <if test="actors != null">
                actors,
            </if>
            <if test="totalSets != null">
                total_sets,
            </if>
            <if test="mainId != null">
                main_id,
            </if>
            <if test="getTime != null">
                get_time,
            </if>
            <if test="websiteId != null">
                website_id,
            </if>
            <if test="website != null">
                website,
            </if>
            <if test="ptype != null">
                ptype,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="pname != null">
                pname,
            </if>
            <if test="intro != null">
                intro,
            </if>
            <if test="director != null">
                director,
            </if>
            <if test="pcUrl != null">
                pc_url,
            </if>
            <if test="playLength != null">
                play_length,
            </if>
            <if test="isCharge != null">
                is_charge,
            </if>
            <if test="isPreview != null">
                is_preview,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ctype != null">
                #{ctype,jdbcType=VARCHAR},
            </if>
            <if test="pubDate != null">
                #{pubDate,jdbcType=VARCHAR},
            </if>
            <if test="countrys != null">
                #{countrys,jdbcType=VARCHAR},
            </if>

            <if test="actors != null">
                #{actors,jdbcType=VARCHAR},
            </if>
            <if test="totalSets != null">
                #{totalSets,jdbcType=INTEGER},
            </if>
            <if test="mainId != null">
                #{mainId,jdbcType=VARCHAR},
            </if>
            <if test="getTime != null">
                #{getTime,jdbcType=DATE},
            </if>
            <if test="websiteId != null">
                #{websiteId,jdbcType=INTEGER},
            </if>
            <if test="website != null">
                #{website,jdbcType=VARCHAR},
            </if>
            <if test="ptype != null">
                #{ptype,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pname != null">
                #{pname,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="director != null">
                #{director,jdbcType=VARCHAR},
            </if>
            <if test="pcUrl != null">
                #{pcUrl,jdbcType=VARCHAR},
            </if>
            <if test="playLength != null">
                #{playLength,jdbcType=INTEGER},
            </if>
            <if test="isCharge != null">
                #{isCharge,jdbcType=INTEGER},
            </if>
            <if test="isPreview != null">
                #{isPreview,jdbcType=INTEGER},
            </if>
        </trim>

    </insert>

    <update id="updateMatchStatus" parameterType="com.qipachong.maxnull.model.Program" >
    UPDATE  tb_program
              SET
                  is_matched=#{isMatched}

        WHERE website_id=#{websiteId} AND  id=#{id}
    </update>
</mapper>